@{
    ViewBag.Title = "Nosotros";
}

<div class="jumbotron">
    <h1>Inventur</h1>
    <p class="lead">
        Este proyecto fue generado con el objetivo de ayudarlos a organizar sus espacios personales y que sepan que tienen dentro
        de ellos.Para que no pierdan nada y puedan encontrarlo de manera simple y rapida.

        Gracias por elegirnos!
    </p>
</div>