@{
    ViewBag.Title = "Living";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Living</title>
</head>
<body>
    <div><h1>Organizando tu Living</h1>
<p>Coloca tus productos</p>

<table>

    <tr>
        <td>Producto</td>
        <td>
            <input type="text" required placeholder="Carga tu producto" class="form-control" autofocus>
        </td>
    </tr></br>
    <tr>
        <td>Cantidad</td>
        <td>
            <input type="number" required placeholder="Cuantos tenes" class="form-control" autofocus>
        </td>
    </tr></br>
    <tr>
        <td>Vencimiento</td>
        <td>
            <input type="date" required placeholder="DD/dd/dddd" class="form-control" autofocus>
        </td>
    </tr></br>
    <tr>
        <td>Ubicacion</td>
        <td>
            <input type="text" required placeholder="Ingresa tu aclaracion" class="form-control" autofocus>
        </td>
    </tr></br>
    <tr>
        <td>
            <input type="submit" value="Agregar" class="form-control">
        </td>
    </tr>

</table> 
    </div>
    <div>
        @Html.ActionLink("Lista de productos", "Living", "Stocks")<br />
    </div>
</body>
</html>
