@{
    ViewBag.Title = "Living";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Living</title>
</head>
<body>
    <div><h1>Organizando tu Living</h1>
<p>Coloca tus productos</p>

<table>

    <tr>
        <td>Nombre del articulo</td>
        <td>
            <input type="text" required placeholder="Carga tu producto">
        </td>
    </tr>
    <tr>
        <td>Vencimiento</td>
        <td>
            <input type="date" required placeholder="DD/dd/dddd">
        </td>
    </tr>
    <tr>
        <td>Otros</td>
        <td>
            <input type="text" required placeholder="Ingresa tu aclaracion">
        </td>
    </tr>
    <tr>
        <td>
            <input type="submit" value="Enviar">
        </td>
    </tr>

</table> 
    </div>
</body>
</html>
