@{
    ViewBag.Title = "Iniciar Sesion";
    Layout = "~/Views/Shared/_Logout.cshtml";
}

<div class="page-header">
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</div>
<div class="panel-body">
    </div>
    <div class="panel-body">
        <div class="container col-md-8">
            <h2 class="form-singin-heading">Ingresa a tu cuenta</h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus></br>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        </div>
        <div class="col-md-8">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="remenber-me">
                    "Recordame"
                </label>
            </div>
            <div class="col-md-6">
                <button class="btn btn-lg btn-primary btn-block" type="submit" href="@Url.Action("Index","Home")">Sing in</button></br>
                <a class="navbar-brand" href="@Url.Action("Index","Home")">Iniciar Sesion</a>
                <a class="navbar-brand" href="@Url.Action("Register","Home")">Registrarse</a>
            </div>
        </div>
    </div></br>